@charset "UTF-8";
/* Reseteo universal*/
* {
  margin: 0px;
  padding: 0px;
}

/* Variables */
/* bg color */
/* typography */
/* Header */
/* Extend */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.bg-color {
  background-color: rgb(15, 48, 20);
}

header nav div ul li a:hover {
  background: darkgreen;
}

.logo {
  width: 50px;
  height: 40px;
}

a {
  font-family: cursive;
  color: white !important;
}

/* Body */
/* Mixin */
.redes-sociales i:hover {
  transform: scale(2.5);
  transition: all 1s;
}

.position-relative:hover {
  transform: scale(1.2);
  transition: all 2s;
}

.divAll {
  padding: 10px;
  margin: 5px;
}

/*Background general*/
.bg-all {
  background: url("https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307_960_720.jpg");
  background-size: contain;
  background-repeat: repeat;
}

/*Background formato word*/
.word {
  background-color: wheat;
}

.word-carousel {
  background: linear-gradient(to left top, rgb(129, 239, 253), rgb(20, 78, 238));
}

/*Div titulo*/
.divP {
  padding: 20px;
  margin: 59px;
}

.divIzq h1 {
  width: 100%;
  border: solid 2px green;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(66, 43, 43);
  text-align: center;
}

/* Subtitulos */
.titulo-green {
  background: linear-gradient(to left top, rgb(104, 207, 104), rgb(15, 134, 15));
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-style: double;
}

.titulo-salmon {
  background: linear-gradient(to right bottom, rgb(248, 153, 142), rgb(247, 106, 90));
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-style: double;
}

/*-----------------------*/
/*Parrafo inicial*/
.p-inicial {
  padding: 10px;
  color: rgb(66, 43, 43);
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

/*-----------------------*/
/*Parrafo siguiente*/
.position-text {
  margin: 0;
  text-align: justify;
  font-family: cursive;
  font-size: 20px;
  border: solid 1px salmon;
}

/*-----------------------*/
/*Imagenes 2do parrafo*/
.img-inicio {
  background-color: white;
  padding: 5px;
  width: 185px;
  height: 200px;
}

.positionImg1 {
  position: relative;
  top: 1%;
  left: 45%;
}

.positionImg2 {
  position: relative;
  right: 30%;
  top: 33%;
}

.positionImg3 {
  position: relative;
  top: 37%;
  left: 45%;
}

.huellas-1 {
  width: 80px;
  height: 100px;
  position: relative;
  left: 120px;
  top: 10px;
}

.huellas-2 {
  width: 80px;
  height: 100px;
  position: relative;
  bottom: 200px;
  right: 36%;
}

.huellas-3 {
  width: 100px;
  height: 120px;
  position: relative;
  top: 35%;
  right: 55%;
}

.bg-img {
  background: linear-gradient(to left top, rgb(104, 207, 104), rgb(15, 134, 15));
}

/*-----------------------*/
/*Termina img 2do parrafo*/
.pyg-img {
  width: 100%;
  height: 300px;
  padding: 0.5%;
  margin: 0%;
  background: linear-gradient(to left top, rgb(80, 67, 66), salmon);
}

.texto2 {
  margin: 0;
  font-family: cursive;
  font-size: 17.5px;
  text-align: justify;
}

/* Subtitulo */
.h1-general {
  background: linear-gradient(to left top, #e0ce2b, #cc8900);
  color: rgb(66, 43, 43);
  padding: 20px;
  margin: 59px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

.subtitulo-subrayado {
  background-color: lightgreen;
  font-size: medium;
  text-decoration: underline;
  display: inline-block;
}

.texto,
.texto2,
.textoP {
  text-align: justify;
  font-family: cursive;
}

.texto {
  padding: 3%;
}

.texto2 {
  margin: 1%;
}

/*-----------------------*/
/* Imagenes */
.izquierda {
  width: 100%;
  height: 300px;
  padding: 0%;
  margin: 0%;
  border: solid lightgreen;
  object-fit: cover;
}

/*-----------------------*/
/* Carousel */
.separarCarousel {
  position: relative;
  top: 2px;
}

.separarCarousel2 {
  position: relative;
  top: 4px;
}

.separarCarousel3 {
  position: relative;
  top: 6px;
}

/*-----------------------*/
/* Footer */
footer {
  margin: 10px;
  background-color: rgb(15, 48, 20);
}

.footerCarousel {
  display: flex;
  justify-content: center;
}

.p-final {
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
  font-size: xx-large;
}

.position-relative {
  width: 70%;
  position: relative;
  left: 15%;
  border: solid salmon;
}

footer .titulo-seccion {
  color: white;
  text-align: center;
  padding: 8px;
  margin: 0;
}

footer .copy {
  padding: 10px;
  margin: 15px;
  color: whitesmoke;
  text-align: center;
}

.redes-sociales {
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 20px;
}

/*-----------------------*/
/* Animation */
.redes-sociales i:hover {
  transform: scale(2.5);
  transition: all 1s;
}

.position-relative:hover {
  transform: scale(1.2);
  transition: all 2s;
}

/* Media queries */
/* bg color */
/* typography */
/* Mobile */
/* Saco la lista porque se me rompe la estructura, además de que fijandomé no encontré dispositivos a esas medidas, es decir, el navbar se ve en todos los dispositivos*/
@media screen and (min-width: 572px) and (max-width: 770px) {
  .display-link {
    display: none !important;
  }
}
@media screen and (min-width: 991px) {
  .displayImg {
    display: none;
  }

  .golden-chihuahua {
    position: relative;
    top: 50px;
  }

  .bengalaP {
    position: relative;
    top: 20px;
  }

  .position-p {
    position: relative;
    top: 30px;
  }
}
@media screen and (min-width: 350px) and (max-width: 991px) {
  .titulo-green,
.titulo-salmon {
    font-size: 16px;
  }

  .displayImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .displayImg .columns {
    display: flex;
    justify-content: space-around;
  }

  .positionImg1,
.positionImg2,
.positionImg3 {
    display: none;
  }

  .huellas-1,
.huellas-2,
.huellas-3 {
    display: none;
  }

  .mediaFamily {
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 350px) and (max-width: 430px) {
  .h1-general {
    padding: 30px;
    margin: 72px;
    width: 60%;
  }
}
@media screen and (min-width: 350px) and (max-width: 450px) {
  .divP h1 {
    font-size: 20px;
    padding: 0;
    margin: 20%;
  }

  .p-inicial {
    font-size: 16px;
  }

  .position-text {
    font-size: 16px;
  }

  .displayImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .displayImg .columns {
    width: 100%;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .separarCarousel {
    position: relative;
    top: 70px;
    margin: 10px;
    padding: 10px;
  }

  .separarCarousel2 {
    position: relative;
    top: 36px;
    margin: 10px;
    padding: 10px;
  }

  .separarCarousel3 {
    position: relative;
    top: 6px;
    margin: 10px;
    padding: 10px;
  }

  .pyg-img,
.pyp-img {
    width: 100%;
    height: 200px;
    padding: 0.2%;
    margin: 0%;
  }

  .divP .divIzq h1 {
    align-items: center;
    margin: 25px;
    width: 80%;
  }
  .divP .divIzq .p-inicial {
    display: none !important;
  }

  .img-inicio {
    width: 100px;
    height: 130px;
  }

  .displayImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 350px) and (max-width: 870px) {
  /* Footer */
  .footer-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "redes redes redes";
    justify-items: center;
  }

  .ul-final {
    grid-area: redes;
  }
}
/* Tablet */
@media screen and (min-width: 871px) and (max-width: 991px) {
  .footer-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "redes redes redes";
    justify-items: center;
  }

  .ul-final {
    grid-area: redes;
  }
}

/*# sourceMappingURL=main.css.map */
