.section-animacion:hover>.p-final {
    animation: cambioColor 3s;
}

@keyframes cambioColor {
    0% {
        border: solid 2px aqua;
    }

    50% {
        border: solid 2px red;
    }

    100% {
        border: solid 2px white;
    }

}

.position-relative {
    width: 70%;
    position: relative;
    left: 15%;
    border: solid salmon;

}

