@import '../abstracts/mapa';
@import '../abstracts/mixin';

/* Texto main*/
#p-main {
    border: solid 1px black;
    margin: 3px;
    background-color: rgb(107, 175, 107);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: medium;
    $fontArial: Arial,
    Helvetica,
    sans-serif;
    color: black;
}

/* Subtitulo */
.subtitulo-subrayado {
    background-color: lightgreen;
    font-size: medium;
    text-decoration: underline;
    display: inline-block;
}

.texto {
    margin: 1%;
}

/* Imagenes */
.izquierda {
    width: map-get($mapImg , width);
    height: map-get($mapImg , height);
    padding: map-get($mapImg , padding);
    margin: map-get($mapImg , margin);
    border: map-get($mapImg , border);
}

    /* Carousel */
    .separarCarousel {
        @include flex (relative, 10px);
    }

    .separarCarousel2 {
        @include flex (relative, 20px);
    }

    .separarCarousel3 {
        @include flex (relative, 30px);
    }

    /* Footer */

    footer {
        display: flex;
        justify-content: flex-end;
    }

    .footerCarousel {
        position: relative;
        top: 40px;
        display: flex;
        justify-content: center;
    }


    .p-final {
        display: flex;
        text-decoration: underline;
        $fontTime: Georgia,
        'Times New Roman',
        Times,
        serif;
        font-size: xx-large;
        justify-content: center;

    }

    .li-img {
        width: 30px;
        height: 25px;
    }

    .li-final {
        display: inline;
        font-family: cursive;
        font-size: small;
    }