@import '../abstracts/extend';

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.bg-color {
    background-color: rgb(15, 48, 20);
}

header {
    nav {
        div {
            ul {
                li {
                    a:hover {
                        background: darkgreen;
                    }
                }
            }
        }
    }
}

.logo {
    width: 20%;
    height: 30px;
}

a {
    font-family: cursive;
    color: white !important;
}