/* Mobile */
/* Saco la lista porque se me rompe la estructura, además de que fijandomé no encontré dispositivos a esas medidas, es decir, el navbar se ve en todos los dispositivos*/
@media screen and (min-width: 572px) and (max-width: 770px) {
    .display-link {
        display: none !important;
    }
}



@media screen and (min-width: 991px) {
    .displayImg {
        display: none;
    }
    .golden-chihuahua{ 
        position: relative;
        top: 50px;
    }
    .bengalaP{ 
        position: relative;
        top: 20px;
    }
    .position-p{ 
        position: relative; 
        top: 30px;
    }
}


@media screen and (min-width: 350px) and (max-width: 991px) {

    .titulo-green,
    .titulo-salmon {
        font-size: 16px;
    }

    .displayImg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .columns {
            display: flex;
            justify-content: space-around;
        }
    }

    .positionImg1,
    .positionImg2,
    .positionImg3 {
        display: none;
    }

}
@media screen and (min-width: 350px) and (max-width: 430px){ 
    .h1-general{ 
        padding: 30px;
        margin: 72px;
        width: 60%;
    }
} 
@media screen and (min-width: 350px) and (max-width: 450px) {
    .divP {
        h1 {
            font-size: 20px;
            padding: 0;
            margin: 20%;
        }
    }

    .p-inicial {
        font-size: 16px;
    }

    .position-text {
        font-size: 16px;
    }

    .displayImg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .columns {
            width: 100%;
        }
    }
}



@media screen and (min-width: 350px) and (max-width: 767px) {
    .separarCarousel{
        position: relative;
        top: 70px;
        margin: 10px;
        padding: 10px;
    }
    .separarCarousel2{
        position: relative;
        top: 36px;
        margin: 10px;
        padding: 10px;
    }
    .separarCarousel3{ 
        position: relative;
        top: 6px;
        margin: 10px;
        padding: 10px;
    }
   
    .pyg-img,
    .pyp-img {
        width: 100%;
        height: 200px;
        padding: 0.2%;
        margin: 0%;
    }

    .divP {
        .divIzq {
            h1{ 
                align-items: center;
                margin: 25px;
                width: 80%;
            }
            .p-inicial {
                display: none !important;
            }
        }
    }

    .img-inicio {
        width: 100px;
        height: 130px;
    }

    .displayImg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 350px) and (max-width: 870px) {


    /* Footer */

    .footer-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "redes redes redes";
        justify-items: center;
    }

    .ul-final {
        grid-area: redes;
    }

}


/* Tablet */
@media screen and (min-width:871px) and (max-width:991px) {

    .footer-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "redes redes redes";
        justify-items: center;
    }

    .ul-final {
        grid-area: redes;
    }
}