/* Mobile */
@media screen and (min-width: 350px) and (max-width: 870px) {

    /* Footer */

    .footer-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "redes redes redes";
        justify-items: center;
    }

    .ul-final {
        grid-area: redes;
    }

}


/* Tablet */
@media screen and (min-width:871px) and (max-width:991px) {

    .footer-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "redes redes redes";
        justify-items: center;
    }

    .ul-final {
        grid-area: redes;
    }
}
